@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@200;300,400,500,600,700&display=swap');

:root{
    --main-color:#8dd510bc;
    --red:#e74c3c;
    --orange:#f39c12;
    --light-color:blue;
    --light-bg:#eee;
    --black:#05101b;
    --white:#fff;
    --border:.1rem solid rgba(0,0,0,2);
}
*{
    background-color: bisque;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 17px;
    padding:10px;
    box-sizing: border-box;
    text-decoration: none;
    margin: 0;
    border-radius: 2rem;

}






.contact .row{
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    gap: 1.5rem;
 }
 
 .contact .row .image{
    flex: 1 1 50rem;
 }
 
 .contact .row .image img{
    width: 100%;
 }
 
 .contact .row form{
    flex: 1 1 30rem;
    background-color: var(--white);
    padding: 2rem;
    text-align: center;
 }
 
 .contact .row form h3{
    margin-bottom: 1rem;
    text-transform: capitalize;
    color:var(--black);
    font-size: 2.5rem;
 }
 
 .contact .row form .box{
    width: 100%;
    border-radius: .5rem;
    background-color: var(--light-bg);
    margin: 1rem 0;
    padding: 1.4rem;
    font-size: 1.8rem;
    color: var(--black);
 }
 
 .contact .row form textarea{
    height: 20rem;
    resize: none;
 }
 
 .contact .box-container{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(30rem, 1fr));
    gap:1.5rem;
    justify-content: center;
    align-items: flex-start;
    margin-top: 3rem;
 }
 
 .contact .box-container .box{
    text-align: center;
    background-color: var(--white);
    border-radius: .5rem;
    padding: 3rem;
 }
 
 .contact .box-container .box i{
    font-size: 3rem;
    color: var(--main-color);
    margin-bottom: 1rem;
 }
 
 .contact .box-container .box h3{
    font-size: 2rem;
    color:var(--black);
    margin: 1rem 0;
 }
 
 .contact .box-container .box a{
    display: block;
    padding-top: .5rem;
    font-size: 1.8rem;
    color: var(--light-color);
 }
 
 .contact .box-container .box a:hover{
    text-decoration: underline;
    color:var(--black);
 }
 
 .form-container{
    min-height: calc(100vh - 20rem);
    display: flex;
    align-items: center;
    justify-content: center;
 }
 
 .form-container form{
    background-color: var(--white);
    border-radius: .5rem;
    padding: 2rem;
    width: 50rem;
 }
 
 .form-container form h3{
    font-size: 2.5rem;
    text-transform: capitalize;
    color: var(--black);
    text-align: center;
 }
 
 .form-container form p{
    font-size: 1.7rem;
    color: var(--light-color);
    padding-top: 1rem;
 }
 
 .form-container form p span{
    color: var(--red);
 }
 
 .form-container form .box{
    font-size: 1.8rem;
    color: var(--black);
    border-radius: .5rem;
    padding: 1.4rem;
    background-color: var(--light-bg);
    width: 100%;
    margin: 1rem 0;
 }
 
 