@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@200;300,400,500,600,700&display=swap');

:root{
    --main-color:#8dd510bc;
    --red:#e74c3c;
    --orange:#f39c12;
    --light-color:blue;
    --light-bg:#eee;
    --black:#05101b;
    --white:#fff;
    --border:.1rem solid rgba(0,0,0,2);
}
*{
    background-color: bisque;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 17px;
    padding:10px;
    box-sizing: border-box;
    text-decoration: none;
    margin: 0;
    border-radius: 2rem;

}
.home-grid .box-container{
    display: grid;
    grid-template-columns: repeat(auto-fit, 27.5rem);
    gap:1.5rem;
    justify-content: center;
    align-items: flex-start;
 }
 
 .home-grid .box-container .box{
    background-color: var(--white);
    border-radius: .5rem;
    padding:2rem;
 }
 
 .home-grid .box-container .box .title{
    font-size: 2rem;
    color: var(--black);
    text-transform: capitalize;
 }
 
 .home-grid .box-container .box .flex{
    display: flex;
    flex-wrap: wrap;
    gap: 1.5rem;
    margin-top: 2rem;
 }
 
 .home-grid .box-container .flex a{
    background-color: var(--light-bg);
    border-radius: .5rem;
    padding: 1rem 1.5rem;
    font-size: 1.5rem;
 }
 
 .home-grid .box-container .flex a i{
    margin-right: 1rem;
    color:var(--black);
 }
 
 .home-grid .box-container .flex a span{
    color:var(--light-color);
 }
 
 .home-grid .box-container .flex a:hover{
    background-color: var(--black);
 }
 
 .home-grid .box-container .flex a:hover span{
    color:var(--white);
 }
 
 .home-grid .box-container .flex a:hover i{
    color:var(--white);
 }
 
 .home-grid .box-container .tutor{
    padding: 1rem 0;
    font-size: 1.8rem;
    color:var(--light-color);
    line-height: 2;
 }
 
 .home-grid .box-container .likes{
    color:var(--light-color);
    font-size: 1.7rem;
    margin-top: 1.5rem;
 }
 
 .home-grid .box-container .likes span{
    color:var(--main-color);
 }
 